/******************************************************
 Courtney and Kim Wedding Website
 Authors: Courtney Mitchell & Kim Krolewsky
 ******************************************************/

/******************************************************

General Styling

 ******************************************************/
body {
    width:100%;
    background: #fff;
    font-family: 'Cabin', sans-serif;
    font-size: 2.0em;
    font-weight: 200;
    color: #4B4F4E;
    text-align: center;
    
    /*background: url(../images/noise.png) #fff;*/    
    /*font-family: 'Cabin Condensed', sans-serif;*/
}
.textblock {
    position: relative;
    z-index: 1000;
}
p {
    margin: 0;
    margin-bottom: 50px;
    line-height: 1.4em;
}
.caps {
    text-transform: uppercase;
}
.lc {
    text-transform: lowercase;
}
.big {
    font-size: 1.9em;
    font-weight: 600;
}
#wrapper {
    margin: 0 auto;
}
a {
    text-decoration: none;
}

/******************************************************

Header

 ******************************************************/

header {
    position: relative;
    z-index: 2;
    width: 80%;
    margin: 0 auto;
    top: -65px;
    
    /*rounded corners*/
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius:70px;
    
    /*Gradient*/
    background-color: #6AC6DE; 
    background-image: -ms-linear-gradient(left, #ACDBE5, #5AC2DD); 
    background-image: -moz-linear-gradient(left, #ACDBE5, #5AC2DD); 
    background-image: -webkit-gradient(linear, top left, top right, from(#ACDBE5), to(#5AC2DD)); 
    background-image: -webkit-linear-gradient(left, #ACDBE5, #5AC2DD); 
    background-image: linear-gradient(to right, #ACDBE5, #5AC2DD);
}

.signgradient-bg {
    position: relative;
    width: 100%;
    /*rounded corners*/
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius:70px;
    border: 3px solid #006077;
    
    /*rotate*/
    -moz-transform:rotate(-1deg);
    -webkit-transform:rotate(-1deg);
    -ms-transform:rotate(-1deg);
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1.5em;
    margin: 0;
    padding-top: 5px;
    color: #006077;
}
header h1 span {
    font-family: 'Cabin', sans-serif;
    font-size: 0.5em;
    font-weight: 200;
    color: #fff;
    vertical-align: middle;
}
header p {
    padding-bottom: 5px;
    margin: 0;
}
.sign {
    position: relative;
    z-index: 100;
    width: 74%;
    height: 150px;
    margin: 0 auto;
    border-left: 1px solid #006077;
    border-right: 1px solid #006077;
}
.circles {
    position: relative;
    z-index: 10;
    width: 76.5%;
    margin: 0 auto;
    top: -10px;
}
.fullcircle {
    display: inline-block;
    float: left;
    background-color: #fff;
    border: 2px solid #006077;
    height: 20px;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
}
.fullcircle.right {
    float: right;
    margin-top: -10px;
}
.weddingdate {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 55%;
    background: url(../images/newimages/arrows.png) no-repeat;
    background-size: 100%;
    /*background-position: 0 25px;*/
}
.weddingdate p {
    font-size: 0.8em;
    line-height: 1.7em;
    width: 55%;
    margin: 0 auto;
    background: #fff;
}
/******************************************************

Section 1 (white section)

 ******************************************************/

/* ----------- text -------------*/
.textblock p.big {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

p.thedate {
    position: relative;
    z-index: 1000;
    font-family: helvetica, arial, sans-serif;
    font-weight: 800;
    font-size: 6.0em;
    text-transform: uppercase;
    margin: 20px 0;
    color: #65B6CC;
}
.countdown {
    position: relative;
    z-index: 1000;
    text-align: center;
}
.countdown p {
    font-size: 1.8em;
}
.textblock.padded {
    margin-top: 30%;
}

/* ----------- images -------------*/
.lovebirds1 {
    position: relative;
    z-index: 100;
}
.clouds {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.clouds img {
    display: block;
    max-width: 60%;
}
.clouds img#cloud5 {
    max-width: 100%;
}
#cloud2, #cloud4, #cloud7 {
    clear: both;
    float: right;
}
#cloud5 {
    margin: 0 auto;
    margin-top: 15%;
}
#cloud6, #cloud7 {
    display: inline-block;
}
.seagulls {
    position: absolute;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.seagulls img {
    display: block;
    max-width: 30%;
}
#seagull1 {
    margin-left: 50%;
}
#seagull2 {
    margin: 0 auto;
}
#seagull3 {
    margin-left: 35%;
}
#seagull4 {
    margin-left: 25%;
}
#seagull5 {
    margin-left: 75%;
    margin-top: 10%;
}
#seagull6 {
    margin-left: 25%;
}
.yogagirl {
    position: relative;
    z-index: 1000;
    margin: 10% 0;
}
#seagull7 {
    margin-left: 40%;
}
#seagull8 {
    margin-left: 50%;
}
#crowd {
    position: relative;
    z-index: 100;
    width: 100%;
}
#crowd img {
    display: block;
    width: 100%;
}
/******************************************************

Section 2 (blue section)

 ******************************************************/
#section2 {
    margin-top: -5%;
    background: #65B6CC;
    padding-bottom: 15%;
}
/* ----------- text -------------*/
#section2 .textblock {
    text-align: left;
    margin-left: 10%;
    color: #006588;
    padding-top: 25%;
}
#section2 a {
    color: #fff;
}

/* ----------- images -------------*/
.branch {
    position: absolute;
    display: block;
    z-index: 100;
    width: 100%;
}
.sun {
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
}
.sun img {
    width: 45%;
}
.branch img {
    float: right;
    width: 60%;
}
#branch1 {
    margin-top: -5%;
}
#branch2 {
    /*margin-top: 30%;*/
}
#branch3 {
    /*margin-top: 60%;*/
}
.wideclouds {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: -5%;
}
.wideclouds img {
    display: block;
    width: 90%;
}

#cloud9 {
    margin: 0 auto;
}

/******************************************************

Section 3 (white section)

 ******************************************************/
#section3 {
    margin-top: 35%;
    margin-bottom: 35%;
}
/* ----------- text -------------*/
#section3 .textblock {
    color: #006588;
}
.cp+.textblock {
    margin-top: 5%;
}
#section3 a {
    color: #333;
}
.party {
    padding-bottom: 10%;
}
.party .textblock {
    padding-top: 10%;
}
.wine+.textblock {
    margin-top: 30%;
}
.gift+.textblock {
    padding-top: 20%;
}
/* ----------- images -------------*/
.brides {
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 0;
}
.brides img {
    width: 20%;
}
#brideleft {
    margin-right: -10px;
}
#brideright {
    margin-left: -10px;
}
.grass {
    position: absolute;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    margin-top: -20%;
}
.grass img {
    width: 60%;
}
.cp {
    position: relative;
    margin-top: 10%;
}
.cp img {
    width: 55%;
}
.buildings {
    position: relative;
    z-index: 1;
    width: 100%;
}
#bldgleft {
    width: 23%;
    float: left;
}
#bldgright {
    width: 23%;
    float: right;
}
.taxi {
    position: absolute;
    z-index: 1000;
    width: 100%;
    margin-top: 10%;
}
.taxi img {
    float: left;
    width: 40%;
}
.wine img {
    position: absolute;
    width: 60%;
    left: 20%;
    z-index: 1;
}
.wine img#glasses {
    position: absolute;
    z-index: 100;
}
.gift {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}
.gift img {
    width: 25%;
}

/******************************************************

RSVP Envelope

 ******************************************************/

/******************************************************

Footer

 ******************************************************/
footer {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: .6em;
    font-weight: 200;
    background: #7ad6e9;
    margin: 0;
    padding: 70px 0 10px 0;
}
footer p {
    text-align: center;
    padding: 0;
    font-weight: 200;
}
footer a {
    color: #fff;
    font-weight: 600;
}

/******************************************************

Clearfix

 ******************************************************/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
    clear: both;
}

/******************************************************

Media Queries

 ******************************************************/
/*Desktop*/
@media only screen and (max-width: 1024px) {
    header h1 {
        font-size: 2.0em;
    }
}
/*Mobile*/
@media only screen and (max-width: 842px) {
    body {
        font-size: 1.5em;
    }
    header {
        width: 90%;
        margin-top: 80px;
    }
    header h1 {
        font-size: 1.2em;
    }
    .weddingdate {
        margin-top: -50px;
        width: 90%;
    }
    .weddingdate p {
        width: 75%;
        line-height: 1.0em;
    }
    .sign, .circles {
        display: none;
    }
    p.thedate {
        font-size: 3.0em;
        color: #3AADC9;
    }
    .countdown p {
        font-size: 1.0em;
    }
    #cloud7 {
        display: none;
    }
    .branch img {
        /*display: none;*/
        width: 70%;
    }
    #bldgleft {
        display: none;
    }
    #bldgright {
        width: 30%;
    }
    .taxi {
        display: none;
    }
    footer p.right {
        float: left;
    }
}
/* Tablet */
@media only screen and (min-width: 551px) and (max-width: 842px) {
    header h1 {
        font-size: 1.8em;
    }
    .weddingdate {
        width: 70%;
    }
    .weddingdate p {
        width: 70%;
        line-height: 1.5em;
    }
    .branch img {
        display: block;
    }
    footer p.right {
        float: right;
    }

}