/******************************************************
 Courtney and Kim Wedding Website
 Authors: Courtney Mitchell & Kim Krolewsky
 ******************************************************/

/******************************************************

General Styling

 ******************************************************/
body {
    width:100%;
    background: #fff;
    font-family: 'Cabin', sans-serif;
    font-size: 2.0em;
    font-weight: 200;
    color: #4B4F4E;
    text-align: center;
    
    /*background: url(../images/noise.png) #fff;*/    
    /*font-family: 'Cabin Condensed', sans-serif;*/
}
.textblock {
    position: relative;
    z-index: 1000;
}
p {
    margin: 0;
    margin-bottom: 50px;
    line-height: 1.4em;
}
.caps {
    text-transform: uppercase;
}
.lc {
    text-transform: lowercase;
}
.big {
    font-size: 1.9em;
    font-weight: 600;
}
#wrapper {
    margin: 0 auto;
}
a {
    text-decoration: none;
    cursor: auto;
}

/******************************************************

Header

 ******************************************************/
header {
    /*position: fixed;*/
    /*top: 0;*/
    /*z-index: 100000;*/
    /*width: 100%;*/
    /*background: rgba(255,255,255,0.5);*/
}

.sign {
    position: absolute;
    z-index: 2;
    width: 80%;
    left: 10%;
    top: 75px;
    
    /*rounded corners*/
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius:70px;
    
    /*Gradient*/
    background-color: #6AC6DE; 
    background-image: -ms-linear-gradient(left, #ACDBE5, #5AC2DD); 
    background-image: -moz-linear-gradient(left, #ACDBE5, #5AC2DD); 
    background-image: -webkit-gradient(linear, top left, top right, from(#ACDBE5), to(#5AC2DD)); 
    background-image: -webkit-linear-gradient(left, #ACDBE5, #5AC2DD); 
    background-image: linear-gradient(to right, #ACDBE5, #5AC2DD);
}

.signgradient-bg {
    width: 100%;
    /*rounded corners*/
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius:70px;
    border: 3px solid #006077;
    
    /*rotate*/
    -moz-transform:rotate(-1deg);
    -webkit-transform:rotate(-1deg);
    -ms-transform:rotate(-1deg);
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1.5em;
    margin: 0;
    padding-top: 5px;
    color: #006077;
}
header h1 span {
    font-family: 'Cabin', sans-serif;
    font-size: 0.5em;
    font-weight: 200;
    color: #fff;
    vertical-align: middle;
}
header p {
    padding-bottom: 5px;
    margin: 0;
}
.signStrings {
    position: relative;
    z-index: 100;
    width: 74%;
    height: 150px;
    margin: 0 auto;
    border-left: 1px solid #006077;
    border-right: 1px solid #006077;
}
.circles {
    position: relative;
    z-index: 10;
    width: 76.5%;
    margin: 0 auto;
    top: -10px;
}
.fullcircle {
    display: inline-block;
    float: left;
    background-color: #fff;
    border: 2px solid #006077;
    height: 20px;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
}
.fullcircle.right {
    float: right;
    margin-top: -10px;
}
.weddingdate {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 50px;
    width: 55%;
    background: url(../images/newimages/arrows.png) no-repeat;
    background-size: 100%;
}
.weddingdate p {
    font-size: 0.8em;
    line-height: 1.7em;
    width: 55%;
    margin: 0 auto;
    background: #fff;
}
/******************************************************

Section 1 (white section)

 ******************************************************/

/* ----------- text -------------*/
.textblock p.big {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

p.thedate {
    position: relative;
    z-index: 1000;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 6.0em;
    text-transform: uppercase;
    margin: 20px 0;
    color: #4B4F4E;
}
.countdown {
    position: relative;
    z-index: 1000;
    text-align: center;
}
.countdown p {
    color: #65B6CC;
    font-family: 'Bevan', cursive;
    font-size: 3.8em;
}
.countdown .dd, .countdown .hh, .countdown .mm, .countdown .ss {
    display:inline-block;
    width: 15%;
    line-height: 0.6em;
}
.countdown span.label {
    font-family: 'cabin-condensed', sans-serif;
    display: block;
    font-size: .25em;
    font-weight: 200;
    text-transform: uppercase;
    color: #006077;
}

/* ----------- images -------------*/
.lovebirds1 {
    position: relative;
    z-index: 100;
}
.clouds {
    position: relative;
    z-index: 1;
    width: 100%;
}
.clouds img {
    display: block;
    max-width: 60%;
}
.clouds img#cloud5 {
    max-width: 100%;
}
#cloud1 {
    position: absolute;
    top: 0;
    left: 0;
}
#cloud2 {
    position: absolute;
    top: 400px;
    right: 0;
}
#cloud3 {
    position: absolute;
    top: -100px;
}
#cloud4 {
    position: absolute;
    top: 200px;
    right: 5px;
}
#cloud5 {
    margin: 0 auto;
    margin-top: 15%;
}
#cloud6, #cloud7 {
    display: inline-block;
}
#cloud6 {
    position: absolute;
    top: 700px;
    left: 150px;
}
#cloud7 {
    position: absolute;
    /*top: 700px;*/
    right: 100px;
}
.seagulls {
    position: relative;
    z-index: 1001;
    margin: 0 auto;
    width: 100%;
}
.seagulls img {
    display: block;
    max-width: 30%;
}
#seagull1 {
    position: absolute;
    top: 100px;
    margin-left: 50%;
}
#seagull2 {
    position: absolute;
    left: 50%;
}
#seagull3 {
    position: absolute;
    margin-left: 35%;
}
#seagull4 {
    position: absolute;
    margin-left: 25%;
}
#seagull5 {
    position: absolute;
    margin-left: 70%;
}
#seagull6 {
    position: absolute;
    margin-left: 25%;
}
.yogagirl {
    position: relative;
    z-index: 1000;
    margin: 10% 0;
    min-height: 187px;
}
.yogagirl img {
    position: absolute;
    bottom: 0;
    max-width: 26%;
    left: 50%;
    margin-left: -13%;
}
#yogagirl1 {
    display: block;
}
#yogagirl2, #yogagirl3, #yogagirl4 {
    display: none;
}
#seagull7 {
    position: absolute;
    margin-left: 40%;
}
#seagull8 {
    position: absolute;
    margin-left: 50%;
}
#crowd {
    position: relative;
    z-index: 100;
    width: 100%;
}
#crowd img {
    display: block;
    width: 100%;
}
/******************************************************

Section 2 (blue section)

 ******************************************************/
#section2 {
    margin-top: -5%;
    background: #65B6CC;
    padding-bottom: 15%;
}
/* ----------- text -------------*/
#section2 .textblock {
    text-align: left;
    margin-left: 10%;
    color: #006588;
    padding-top: 25%;
}
#section2 a {
    color: #fff;
}

/* ----------- images -------------*/
.branch {
    position: absolute;
    display: block;
    z-index: 1000;
    width: 100%;
}
.sun {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
}
.sun img {
    position: absolute;
    left: 50%;
    margin-left: -25.5%;
    width: 45%;
}
.branch img {
    float: right;
    width: 60%;
}
#branch1 {
    margin-top: -5%;
}
#branch2 {
    /*margin-top: 30%;*/
}
#branch3 {
    /*margin-top: 60%;*/
}
.wideclouds {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: -5%;
}
.wideclouds img {
    display: block;
    width: 90%;
}

#cloud9 {
    margin: 0 auto;
}

/******************************************************

Section 3 (white section)

 ******************************************************/
#section3 {
    position: relative;
    margin-top: 25%;
    margin-bottom: 55%;
}
.present {
    position: relative;
    min-height: 600px;
    /*margin-top: 25%;*/
}
/* ----------- text -------------*/
#section3 .textblock {
    color: #4B4F4E;
}
.cp+.textblock {
    margin-top: 5%;
}
#section3 a {
    color: #006588;
}
.party {
    position: relative;
}
.party .textblock {
    padding-top: 10%;
}
.cocktails {
    position: relative;
}
.wine+.textblock {
    margin-top: 60%;
}
.present .textblock {
    padding-top: 30%;
}
/* ----------- images -------------*/
.brides {
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 0;
}
.brides img {
    width: 35%;
}
.grass {
    position: absolute;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    margin-top: -20%;
}
.grass img {
    width: 60%;
}
.cp {
    position: relative;
    margin-top: 10%;
}
.cp img {
    width: 55%;
}
.buildings {
    position: relative;
    z-index: 1;
    width: 100%;
}
#apartment {
    width: 50%;
}
.taxi {
    position: absolute;
    margin-top: -100px;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
}
#taxi {
    float: left;
    width: 40%;
    
    -moz-transition: all 5s ease-in 0;
    -ms-transition: all 5s ease-in 0;
    -webkit-transition: all 5s ease-in 0;
    -transition: all 5s ease-in 0;
}
.drive {
    margin-left: 100%;
}
.wine img {
    position: absolute;
    width: 60%;
    left: 20%;
    z-index: 1;
    margin-top: -40%;
}
.wine img#glasses {
    position: absolute;
    z-index: 100;
}
.whiterect {
    position: absolute;
    width: 100%;
    z-index: 10;
    height: 0;
    margin-top: -30%;
    background: #fff;
    
    -moz-transition: height 6s ease-in 0;
    -ms-transition: height 6s ease-in 0;
    -webkit-transition: height 6s ease-in 0;
    -transition: height 6s ease-in 0;
}
.gift {
    position: absolute;
    z-index: 1;
    top: 10%;
    margin-top: 10%;
    width: 100%;
}
.gift img {
    width: 25%;
}
.drink {
    height: 90%;  
}
/******************************************************

RSVP Envelope

 ******************************************************/
section#invitation {
    position: relative;
    /*margin-top: 70%;*/
}

.envelope img {
    position: absolute;
    z-index: 1;
    left: 25%;
    width: 50%;
    bottom: 0;
}
#envfront {
    z-index: 10000;
}
#letter {
    position: absolute;
    z-index: 100;
    width: 45%;
    left: 50%;
    margin-left: -22.5%;
    bottom: 0;
    background: #fff;
    border: 2px solid #BC9E5C;
}
#letter .textblock {
    border: 2px solid #BC9E5C;
    padding: 20%;
    padding-bottom: 10%;
    margin: 20px;
    color: #736497;
    font-size: 0.8em;
    -moz-transition: all 1s ease-in 1500ms;
    -ms-transition: all 1s ease-in 1500ms;
    -webkit-transition: all 1s ease-in 1500ms;
    -transition: all 1s ease-in 1500ms;
}
#letter a {
    color: #BC9E5C;
}
.grow {
    padding-bottom: 40% !important; 
}
.decorations {
    position: absolute;
    z-index: 10000;
    width: 100%;
    margin: 0 auto;
}
.decorations img {
    display: block;
    margin: 0 auto;
}
#heart {
    margin-top: 2%;
}
#birds2 {
    margin-top: 5%;
}
/******************************************************

Footer

 ******************************************************/
footer {
    font-family: 'Cabin Condensed', sans-serif;
    color: #4B4F4E;
    font-size: .5em;
    font-weight: 200;
    padding: 70px 0 20px 0;
}
footer p {
    text-align: center;
    font-weight: 200;
    margin: 0;
}
footer a {
    color: #006588;
}

/******************************************************

Clearfix

 ******************************************************/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
    clear: both;
}

/******************************************************

Media Queries

 ******************************************************/
/*Desktop*/
@media only screen and (max-width: 1024px) {
    header h1 {
        font-size: 2.0em;
    }
}
/*Mobile*/
@media only screen and (max-width: 842px) {
    body {
        font-size: 1.5em;
    }
    header {
        top: -5%
    }
    .sign {
        width: 90%;
        left: 5%;
    }
    header h1 {
        font-size: 1.2em;
    }
    .weddingdate {
        margin-top: 38%;
        width: 90%;
    }
    .weddingdate p {
        width: 75%;
        line-height: 1.0em;
    }
    .signStrings, .circles {
        display: none;
    }
    .lovebirds1 img {
        width: 25%;
    }
    p.thedate {
        font-size: 3.0em;
        color: #3AADC9;
    }
    .countdown p {
        font-size: 1.0em;
    }
    #cloud6, #cloud7 {
        display: none;
    }
    .branch img {
        width: 70%;
    }
    .taxi {
        display: none;
    }
    footer p.right {
        float: left;
    }
    .envelope img {
        width: 90%;
        left: 5%;
    }
    .yogagirl {
        min-height: 100px;
    }
    .yogagirl img {
        width: 30%;
    }
    #letter {
        width: 80%;
        font-size: .8em;
        left: 10%;
        margin-left: 0;
    }
    #birds2 {
        display: none;
    }
    #letter .textblock {
        padding: 5%;
        padding-top: 15%;

    }
    #apartment {
        width: 80%;
    }
    .gift {
        top: 0 !important;
    }
    .gift img {
        width: 50%;
    }
}
/* Tablet */
@media only screen and (min-width: 551px) and (max-width: 842px) {
    header h1 {
        font-size: 1.8em;
    }
    .weddingdate {
        width: 70%;
    }
    .weddingdate p {
        width: 70%;
        line-height: 1.5em;
    }
    .branch img {
        display: block;
    }
    #letter {
        font-size: 1.0em;
    }

    footer p.right {
        float: right;
    }

}

/* Thank you Page */

header#thanks {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    /*background: url(../images/newimages/green-twig-frame.png) no-repeat;*/
    background-size: 100% 100%;
    background-origin: content-box;
}
#thanks h1 {
    /*padding-top: 20px;    */
    font-size: 1.8em;
    line-height: 2.5em;
    color: #736497;
}
#banner {
    width: 70%;
    padding-top: 20px;
}